@import "tailwindcss";

:root {
  --background: #FAFAFA;;
  --foreground: #171717;
  --brand-primary: #D72638;
  --brand-secondary: #680F1A;
  --brand-accent: #F5D5E0;
  --base-text: #2E2E2E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-accent: var(--brand-accent);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--brand-accent);
  color: var(--base-text);
}
